Source: tag-creator
Section: user/other
Priority: optional
Maintainer: Hannu Mallat <hmallat@gmail.com>
Build-Depends: debhelper (>= 7.0.0), libqtm-connectivity-dev (>= 1.2.1), libqtm-systeminfo-dev (>= 1.2.1)
Standards-Version: 3.8.0

Package: tag-creator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NFC Tag Creator
