#!/usr/bin/make -f

LOGVER := $(shell dpkg-parsechangelog | grep '^Version:.*' | cut -d ' ' -f 2)
CXXFLAGS += -DVERSION=\\\"$(LOGVER)\\\"

%:
	dh $@

override_dh_installdocs:

override_dh_installchangelogs:

