#CommonApplicationPage {
  background-image: none;
  background-color: #f8f8f8;
}

#CommonHeaderPanel {
  background-image: none;
  background-color: #404040;
}

#CommonHeader {
  color: #ffffff;
}

#CommonContentItem {
  background-image: none;
  background-color: #f8f8f8;
}

#CommonContentItem:pressed {
  background-image: none;
  background-color: #808080;
}

