#CommonApplicationPage {
  background-image: none;
  background-color: #f0f0f0;
}

#CommonContentItem {
  background-image: none;
  background-color: #f0f0f0;
}

#CommonContentItem:pressed {
  background-image: none;
  background-color: #808080;
}

#CommonHeaderPanel {
  background-image: none;
  background-color: #606060;
}

#CommonHeader {
  color: #ffffff;
}

#LabelOrListLabel { 
  font: $FONT_FAMILY light 48
}
