[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Tag Creator
Exec=/usr/bin/single-instance /opt/tag-creator/bin/tag-creator
Icon=/opt/tag-creator/share/images/tag-creator.jpeg
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
