[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Tagbuilder
Exec=/usr/bin/single-instance /opt/Tagbuilder/bin/Tagbuilder
Icon=/opt/Tagbuilder/share/images/Tagbuilder.jpeg
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
